@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="margin-left: 42%">@ViewData["Title"]</h1>
    <div class="info-card" style="margin-left: 40%">
        <img src="~/privacy.png" alt="Изображение">
        <div class="info-card-content">
            <h2>All on this website isn't protected by copyright.</h2>
            <p>but don't steal</p>
            <a href="/home/index">I will</a>
        </div>
    </div>
